$color-light-blue = rgb(23,103,222)
$color-medium-blue = rgb(18,75,143)
$color-dark-blue = rgb(16,44,99)

$color-light-gray = rgb(216,218,218)
$color-medium-gray = rgb(139,135,145)
$color-dark-gray = rgb(75,71,72)

$color-white = rgb(255,255,255)
$color-black = rgb(0,0,0)
