<h1 class="container-title">Contacto</h1>
<div class="browser">
  <div class="tabs">
    <div class="tabs-item">Email</div>
    <div class="tabs-item">Twitter</div>
    <div class="tabs-item">Linkedin</div>
  </div>

  <div class="direction-bar">
    <div class="direction-bar-item {{if email 'active'}}">HostSuarezPablo@gmail.com</div>
    <div class="direction-bar-item">@SoyPabloSuarez</div>
    <div class="direction-bar-item">PabloSuarez</div>
  </div>

  <div class="web-content">
    <div class="web-content-item">
      Escríbeme un email a <a href="mailto:HostSuarezPablo@gmail.com">HostSuarezPablo@gmail.com</a>
    </div>
    <div class="web-content-item">
      Sígueme en Twitter <a href="https://twitter.com/SoyPabloSuarez" target="_blank">@SoyPabloSuarez</a>
    </div>
    <div class="web-content-item">
      Agregame a Linkedin aquí <a href="https://www.linkedin.com/" target="_blank">PabloSuarez</a>
    </div>
  </div>
</div>

{{outlet}}
