<h1 class="container-title">Posts</h1>

{{#each posts as |post|}}
  <h4>--{{post.name}}--</h4>
{{/each}}

{{!--
<div class="posts">
  <div class="column">
    <div class="posts-item">1</div>
    <div class="posts-item chico">2</div>
    <div class="posts-item">3</div>
    <div class="posts-item">4</div>
    <div class="posts-item">5</div>
    <div class="posts-item">6</div>
    <div class="posts-item">7</div>
    <div class="posts-item grande">8</div>
    <div class="posts-item">9</div>
    <div class="posts-item">10</div>
    <div class="posts-item">11</div>
    <div class="posts-item">12</div>
    <div class="posts-item">13</div>
  </div>
  <div class="column">
    <div class="posts-item">1</div>
    <div class="posts-item chico">2</div>
    <div class="posts-item">3</div>
    <div class="posts-item grande">4</div>
    <div class="posts-item">5</div>
    <div class="posts-item grande">6</div>
    <div class="posts-item">7</div>
    <div class="posts-item">8</div>
    <div class="posts-item">9</div>
    <div class="posts-item">10</div>
    <div class="posts-item grande">11</div>
    <div class="posts-item">12</div>
    <div class="posts-item">13</div>
  </div>
  <div class="column">
    <div class="posts-item grande">1</div>
    <div class="posts-item">2</div>
    <div class="posts-item">3</div>
    <div class="posts-item">4</div>
    <div class="posts-item chico">5</div>
    <div class="posts-item">6</div>
    <div class="posts-item">7</div>
    <div class="posts-item">8</div>
    <div class="posts-item grande">9</div>
    <div class="posts-item">10</div>
    <div class="posts-item">11</div>
    <div class="posts-item">12</div>
    <div class="posts-item grande">13</div>
  </div>
  <div class="column">
    <div class="posts-item">1</div>
    <div class="posts-item">2</div>
    <div class="posts-item chico">3</div>
    <div class="posts-item">4</div>
    <div class="posts-item grand">5</div>
    <div class="posts-item">6</div>
    <div class="posts-item">7</div>
    <div class="posts-item">8</div>
    <div class="posts-item">9</div>
    <div class="posts-item">10</div>
    <div class="posts-item">11</div>
    <div class="posts-item">12</div>
    <div class="posts-iteme">13</div>
  </div>
</div>
 --}}
