<div class="menu">
  <div class="menu-item active">
    {{#link-to 'contact' class="menu-item-link"}}Home{{/link-to}}
  </div>
  <div class="menu-item">Files</div>
  <div class="menu-item">Contact</div>
</div>
