.posts
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  height 80vh
  margin 0 auto
  overflow-y scroll

  &-item
    margin 5px
    height 200px
    width 200px
    background rgb(53,46,179)
    color white
    text-align center

.grande
  height 150px

.chico
  height 70px
