header
  min-height 5vh
  position relative

  .menu
    position absolute
    right .5rem
    max-width 90%

    &-item
      display inline-block
      padding .5rem 1rem
      padding-bottom .1rem
      color $color-medium-gray
      border-bottom solid 1px $color-dark-gray
